<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.barryyang.barryyangdemo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:taskAffinity="com.barryyang.barryyangdemo.task1">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".activity.TargetActivity"
            android:configChanges="orientation|screenSize" />

        <activity android:name=".activity.LifecycleActivity" />


        <activity android:name=".activity.IntentFilterActivity">

            <intent-filter>
                <action android:name="com.barryyang.barryyangdemo.IntentFilter" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.barryyang.barryyangdemo.IntentFilter.category" />

                <!--                <data android:mimeType="text/plain" />-->
            </intent-filter>

        </activity>
        <activity android:name=".service.TargetServiceActivity" />
        <activity android:name=".view.ViewActivity" />
        <activity
            android:name=".bitmap.BitmapActivity"
            android:configChanges="screenSize|orientation"
            android:screenOrientation="portrait" />
        <activity android:name=".bitmap.LruCacheActivity" />
        <activity android:name=".stream.StreamActivity" />
        <activity android:name=".java.JavaActivity" />
        <activity android:name=".handler.HandlerActivity" />
        <activity android:name=".activity.ThreadActivity" />
        <activity android:name=".http.HttpActivity" />
        <activity android:name="com.barryyang.barryyangdemo.rxjava.RxJavaActivity" />
        <activity android:name=".glide.GlideActivity" />
        <activity android:name=".components.ComponentsActivity" />
        <activity android:name=".scopedstorage.ScopedStorageActivity" />
        <activity android:name=".kotlin.KotlinActivity" />
        <activity android:name=".crash.CrashActivity" />
        <activity android:name=".crash.ReportActivity">
            <intent-filter>
                <action android:name="com.barryyang.barryyangdemo.report" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".designmodel.DesignModelActivity" />
        <activity android:name=".constraint.ConstraintActivity" />
        <activity android:name=".motionlayout.MotionLayoutActivity" />
        <activity android:name=".motionlayout.BasicMotionLayoutActivity" />
        <activity android:name=".motionlayout.ImageFilterViewActivity" />
        <activity android:name=".broadcast.BroadcastActivity" />

        <service
            android:name=".service.LocalService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.barryyang.barryyangdemo.local" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
        <service android:name=".service.CustomIntentService" />
    </application>

</manifest>